<!doctype html>
<html>
  <head>
    <title>iMoney - Monthly Analytics</title>
    <script src="js/Chart.bundle.js"></script>
    <script src="js/utils.js"></script>
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <style>
      canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }

       * {
            padding: 0;
            margin: 0;
            line-height: 25px;
            font-size: 12px;
            list-style:none
        }
        #tabContainer
        {
            margin-top: 30px;
            margin-left: 50px;
            margin-right: 50px;
        }
        #tabContainer li
        {
            float: left;
            width: 80px;
            margin: 0 3px;
            background: #efefef;
            text-align: center;
        }
        #tabContainer a
        {
            display: block;
            text-decoration: none;
        }
        #tabContainer a.on
        {
            background: pink;
            text-decoration: none;
        }

        #stockdiv {
          width : 90%;
          margin-top: 30px;
          margin-left: 50px;
          margin-right: 50px;
        }
    </style>
    <script type="text/javascript">
        function switchTab(tabIdx, divIdx) {
            for (i = 1; i < 4; i++) {
                if ("tab" + i == tabIdx) {
                    document.getElementById(tabIdx).getElementsByTagName("a")[0].className = "on";
                } else {
                    document.getElementById("tab" + i).getElementsByTagName("a")[0].className = "";
                }
                if ("div" + i == divIdx) {
                    document.getElementById(divIdx).style.display = "";
                } else {
                    document.getElementById("div" + i).style.display = "none";
                }
            }
        }

      // Stock Inquiry
      function getStockPrice() {
        var symbol = document.getElementById("symbol").value;
        var callback = function(data) {
          var price = data.query.results.quote.LastTradePriceOnly || "No Data";
          document.getElementById('price').value = price;
        };

        var url = 'http://query.yahooapis.com/v1/public/yql';
        // this is the lovely YQL query (html encoded) which lets us get the stock price:
        // select * from html where url="http://finance.yahoo.com/q?s=goog" and xpath='//span[@id="yfs_l10_goog"]'
        //var data = "q=select from html where url=http%3A%2F%2Ffinance.yahoo.com%2Fq%3Fs%3D" + symbol + "%22%20and%20xpath%3D'%2F%2Fspan%5B%40id%3D%22yfs_l10_" + symbol + "%22%5D'&format=json";
        var data = 'q=select * from yahoo.finance.quotes where symbol in ("' + symbol + '")&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys';
        $.getJSON(url, data, callback);
      }
    </script>
</head>
    
<body>
  <div id="stockdiv">
    Symbol: <input id="symbol" type="text" value="ORCL" tabindex="1"/>
    Price : <input id="price" type="text" value="" readonly="readOnly" disabled/>
    <input type="button" value="Click me" tabindex="2" onclick="getStockPrice()"/>
  </div>
  <div style="margin-top: 30px; margin-left: 50px; margin-right: 50px; font-size: 15px;">
    Select <select name="year" id="year">  
      <option value="2010">2010</option>  
      <option value="2011">2011</option>  
      <option value="2012">2012</option>  
      <option value="2013">2013</option>  
      <option value="2014">2014</option>  
      <option value="2015">2015</option>  
      <option value="2016" selected="selected">2016</option>  
    </select> year and be patient to load and draw chart.
  </div>
  <div id="tabContainer">
    <ul>
      <li id="tab1"><a href="" class="on" onclick="switchTab('tab1','div1');this.blur();clickTab('1', 'bar');return false;">Bar</a></li>
      <li id="tab2"><a href="" onclick="switchTab('tab2','div2');this.blur();clickTab('2', 'line');return false;">Line</a></li>
      <li id="tab3"><a href="" onclick="switchTab('tab3','div3');this.blur();clickTab('3', 'pie');return false;">Pie</a></li>
    </ul>
    <div style="clear: both"> </div>
    <div id="div1">
      <canvas id="myChart1" width="400" height="400"></canvas>
    </div>
    <div id="div2" style="display: none">
      <canvas id="myChart2" width="400" height="400"></canvas>
    </div>
    <div id="div3" style="display: none">
      <canvas id="myChart3" width="400" height="400"></canvas>
    </div>
  </div>

<script>
  var barChart = drawChart("1", "bar");
  var lineChart = drawChart("2", "line");
  var pieChart = drawChart("3", "pie");
  clickTab('1', "bar");

function clickTab(index, ct) {
  var url = window.location.href;
  var domainName = url.split("/");
  var yearElement = document.getElementById("year");
  var year = yearElement.options[yearElement.selectedIndex].value;
  var newURL = "/api/listCostPerMonth?year=" + year;
  var xmlHttp = new XMLHttpRequest();

  xmlHttp.onreadystatechange = function() { 
    if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
      updateChartNow(index, ct, xmlHttp.responseText);
  }
  xmlHttp.open("GET", newURL, true); // true for asynchronous 
  xmlHttp.send(null);
}

function updateChartNow(index, chartType, rawData) {
  var newData = rawData.split(",");
  for(var i=0; i<newData.length; i++) { newData[i] = parseInt(newData[i], 10); }
  if ("bar" == chartType) {
    barChart.data.datasets[0].data = newData;
    barChart.update();
  } else if ("line" == chartType) {
    lineChart.data.datasets[0].data = newData;
    lineChart.update();
  } else if ("pie" == chartType) {
    pieChart.data.datasets[0].data = newData;
    pieChart.update();
  } else {
    alert("Error on updating chart - This chart type is not supported yet!");
  }
}

function drawChart(index, chartType) {
	var ctx = document.getElementById("myChart" + index);
  if ("bar" == chartType) {
    return new Chart(ctx, {
	      type: "bar",
        data: {
          labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
          datasets: [{
            label: 'Cost per Month',
            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
            backgroundColor: 'rgba(54, 162, 235, 0.2)',
            borderWidth: 1
          }]
        },
	      options: {
          scales: {
		        yAxes: [{
			        ticks: { beginAtZero:true }
		        }]
          }
	      }
	  });
  } else if ("line" == chartType) {
    return new Chart(ctx, {
	      type: "line",
        data: {
          labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
          datasets: [{
            label: "Cost per Month",
            fill: false,
            lineTension: 0.1,
            backgroundColor: "rgba(75,192,192,0.4)",
            borderColor: "rgba(75,192,192,1)",
            borderCapStyle: 'butt',
            borderDash: [],
            borderDashOffset: 0.0,
            borderJoinStyle: 'miter',
            pointBorderColor: "rgba(75,192,192,1)",
            pointBackgroundColor: "#fff",
            pointBorderWidth: 1,
            pointHoverRadius: 5,
            pointHoverBackgroundColor: "rgba(75,192,192,1)",
            pointHoverBorderColor: "rgba(220,220,220,1)",
            pointHoverBorderWidth: 2,
            pointRadius: 1,
            pointHitRadius: 10,
            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
            spanGaps: false,
          }]
        },
	      options: {
          scales: {
		        yAxes: [{
			        ticks: { beginAtZero:true }
		        }]
          }
	      }
	  });
  } else if ("pie" == chartType) {
    return new Chart(ctx, {
	      type: "pie",
        data: {
          labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
          datasets: [{
            data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
            backgroundColor: [
              "#FF6384",
              "#36A2EB",
              "#006384",
              "#FF2304",
              "#03F0FF",
              "#0F22EB",
              "#AAA2EB",
              "#39AA0B",
              "#F06004",
              "#99A20F",
              "#FFAFFB",
              "#FFCE56"
            ],
            hoverBackgroundColor: [
              "#FF6384",
              "#36A2EB",
              "#FF6384",
              "#FF2304",
              "#F36384",
              "#3EA2EB",
              "#AAA2EB",
              "#39A2EB",
              "#F06384",
              "#E0A2EB",
              "#3FA2EB",
              "#FFCE56"
            ]
          }]
        },
	      options: {
          scales: {
		        yAxes: [{
			        ticks: { beginAtZero:true }
		        }]
          }
	      }
	  });
  } else {
    alert("Undefined Chart Type");
  }
};
</script>
  </body>
</html>
